@using ACE_PC.BlazorServer.Dtos.Common
@using ACE_PC.BlazorServer.Services

@inject NavigationManager NavigationManager;
@inject CommonUserInterfaceService CommonUserInterfaceService;

<section>
    <MudDataGrid T="UserDto" Items="@Users"
                 Hover="true"
                 Dense="false"
                 Striped="true"
                 Bordered="true"
                 Filterable="false">

        <Columns>

            <PropertyColumn Property="x => x.UserId" Title="UserId" />

            <PropertyColumn Property="x => x.Name" Title="User Name" />

            <PropertyColumn Property="x => x.Email" Title="Email" />

            <TemplateColumn Title="Role">
                <CellTemplate>
                    <MudChip Color="Color.Primary" Size="Size.Small">
                        @context.Item.Role?.Name
                    </MudChip>
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn Title="Stats">
                <CellTemplate>
                    <MudStack Row="true" Spacing="1">
                        <MudChip Size="Size.Small">
                            Quotes : @(context.Item.Quotes?.Count ?? 0)
                        </MudChip>

                        <MudChip Size="Size.Small">
                            Comments : @(context.Item.Comments?.Count ?? 0)
                        </MudChip>

                        <MudChip Size="Size.Small">
                            Likes : @(context.Item.Likes?.Count ?? 0)
                        </MudChip>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn Title="Actions">
                <CellTemplate>
                    <MudStack Row="true" Spacing="1">

                        <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                       Color="Color.Info"
                                       Size="Size.Small"
                                       OnClick="@(() => View(context.Item.UserId))" />

                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       OnClick="@(() => Edit(context.Item))" />

                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       Size="Size.Small"
                                       OnClick="@(() => Delete(context.Item))" />

                    </MudStack>
                </CellTemplate>
            </TemplateColumn>



        </Columns>

    </MudDataGrid>
</section>

@code {
    [Parameter]
    public List<UserDto> Users { get; set; } = new();

    public async Task View(int id)
    {
        NavigationManager.NavigateTo($"/users/{id}");
        StateHasChanged();

    }
    public async Task Edit(UserDto userDto)
    {
       
    }
    public async Task Delete(UserDto userDto)
    {
        var dialogRequest = new DialogRequest
        {
            Body = "Are You sure wnat to delete",
            ButtonText = "Delete",
            Color = Color.Error
        };
        await CommonUserInterfaceService.ShowDialog(dialogRequest);
    }
}